
# Vagrant file settings

java:
  version: 7
  update: 79
  
hadoop:
  version: 2.7.1
  
spark:
  version: 1.6.0

influxdb:
  version: 0.10.0-1  

ambari:
  enabled: false
  repo: http://public-repo-1.hortonworks.com/ambari/centos7/2.x/updates/2.2.0.0/ambari.repo
  
box:
  os: centos7
  gui: false
  cpus: 2
  network: public_network
  base_address: 10.211.55.100
  
master:
  memory: 2048
  
slaves:
  count: 3
  memory: 2048
  
monitor:
  enabled: false
  memory: 2048
  address: 10.211.55.99